@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

.addComment {
    background-color: #545454;
    box-shadow: -20px 0 40px 0 rgba(0,0,0,0.5);
    width: 100%;
    height: 25vh;
    position: absolute;
    bottom: 0;

    &__item {
        margin-left: 15px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__text {
        border-radius: 1px;
        border: none;
        color: #1A1A1A;
        font-family: $text-font;
        font-size: 13px;
        line-height: 22px;
        height: 12vh;
        margin-left: 20px;
        text-align: justify;

        @include respond-to('desktop-no-hd') {
            font-size: 12px;
        }
    }
}