@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

.add-pitch {
    &__button {
        margin-top: 70px;
    }

    &__input {
        position: relative;
        margin-top: 15vh;
        height: auto;

        &__label {
            position: absolute;
            pointer-events:none;
            width: 100%;
            opacity: 0.70;
            color: #1A1A1A;
            font-family: $text-font;
            font-size: 16px;
            z-index: 30;
            transition: all 0.4s ease-in-out;

            &_is-active {
                &.add-pitch__input__label {
                    transform: translateY(-25px);
                }
            }
        }

        &__title {
            position: absolute;
            color: #1A1A1A;
            font-family: $header-font;
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 2.67px;
            width: 100%;
            border-bottom: 1px solid gray;
            z-index: 20;

            &_is-active {
                &.add-pitch__input__title {
                    font-size: 32px;
                }
            }
        }

        &__description {
            position: absolute;
            color: #1A1A1A;
            font-family: $text-font;
            line-height: 24px;
            height: 27px;
            font-size: 16px;
            width: 100%;
            margin-top: 3px;
            border-bottom: 1px solid gray;
            z-index: 20;
            transition: all 0.4s ease-in-out;
    
            :focus, :active {
                outline: none !important;
                box-shadow: none !important;
            }

            &_is-active {
                &.add-pitch__input__description {
                    height: 10vh;
                }
            }
        }
    
        &__effort {
            position: absolute;
            width: 100%;
            color: #1A1A1A;
            font-family: $text-font;
            font-size: 16px;
            margin-top: 3px;
            border-bottom: 1px solid gray;
            z-index: 20;
    
            :focus {
                outline: none;
            }
        }
    }
}
