@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';


:not(output):-moz-ui-invalid {
    box-shadow: none;
}

/* CSS CLASSES */
.comments {
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 48vh;
}

.comment {
    &__container {
        position: relative;
        margin-left: 15px;
        height: 100%;
        width: 100%;
        padding: 10px;
        font-size: 13px;
        border: 1px solid #979797;
        border-radius: 1px;

        @include respond-to('desktop-no-hd') {
            font-size: 12px;
        }
    }

    &__image {
        border-radius: 100%;
        height: 35px;
        width: 40px;
    }
    
    &__meta-data {
        text-transform: capitalize;
        opacity: 0.55;
        color: #1A1A1A;
        font-family: $text-font;
        font-size: 12px;
        font-style: italic;
        margin-left: 15px;
        line-height: 17px;
        margin-right: 10px;
        margin-bottom: 20px;

        @include respond-to('desktop-no-hd') {
            font-size: 10px;
        }

        &_author {
            font-weight: 600;
            text-transform: uppercase;
        }
    }
}

