@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

.impact-button {
    background: transparent;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 15px;

    &:hover {
        .impact-button__bar {
            width: 100%;
        }
        .impact-button__text {
            color: black;
        }
        .impact-button__icon {
            color: black;
            transform: translateX(12px);
        }
    }

    &__bar {
        content: "";
        position: absolute;
        padding: 0;
        left: 0;
        top: 0;
        width: 5px; 
        height: 100%;
        z-index: 10;
        background-color: $brand-color;
        border: 1px solid rgba(48,48,48,.25);
        transition: width 0.4s ease-in-out;
    }

    &__text {
        float: left;
        font-family: $header-font;
        position: relative;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        margin-left: 15px;
        letter-spacing: 1.5px;
        line-height: 18px;
        z-index: 20;
        transition: color 0.5s ease-in-out;
    }

    &__icon {
        float: right;
        font-size: 16px;
        position: relative;
        margin-right: 25px;
        margin-left: 13px;
        z-index: 20;
        transition: all 0.5s ease-in-out;
    }

    &_submit-pitch {
        margin-top: 20px;
    }

    &_addcomment {
        margin-top: 10px;
    }
}