@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

.like {
    &__button {
        font-size: 14px;
        cursor: pointer;
    }
    &__icon {
        font-size: 14px;
        margin-right: 3px;
        display: inline;
        cursor: pointer;

        @include respond-to('desktop-no-hd') {
            font-size: 12px;
        }  
    }
}
.marked {
    color: black;
    font-weight: 800;
}