@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

.signin {
    font-family: $header-font;
    width: 530px;
    margin-top: 100px;
    background-color: $white-color;
    border-radius: 1px;
    box-shadow: 0 17px 23px 0 rgba(0,0,0,0.14);

    &__content {
        padding: 25px;
    }

    &__signup {
        margin-top: 20px;
        margin-bottom: 20px;

        &__text {
            font-size: 14px;
            font-weight: 400;
            font-family: $header-font;
            text-transform: uppercase;
        }
        
        &_signup {
            margin-left: 5px;
            text-decoration-line: underline;
            cursor: pointer;
            font-weight: 600;
        }
    }

    &__header {
        padding-top: 15px;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 2.67px;
        line-height: 38px;
        color: #1A1A1A
    }

    &__input {
        position: relative;
        margin-top: 45px;
        width: 100%;

        &_button {
            margin-top: 40px;
            margin-bottom: 30px;
        }

        &__label {
            position: absolute;
            font-size: 16px;
            font-weight: 500;
            font-family: $text-font;
            letter-spacing: 1.5px;
            transition: all 0.4s ease-in-out;
            color: #1A1A1A;
            z-index: 30;
            pointer-events:none;

            &_is-active {
                &.signin__input__label {
                    transform: translateY(-25px);
                }
            }
        }

        &__field {
            margin-top: 3px;
            width: 100%;
            border-bottom: 1px solid gray;
            font-family: $text-font;
            font-size: 15px;
            letter-spacing: 1.5px;
        }
    }
}

