@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

/* CSS CLASSES */
.app {
    height: 100%;
}
.header {
    margin-top: 100px;
    margin-bottom: 50px;
    &__text {
        color: $white-color;
        font-family: $header-font;
        font-weight: 600;
        font-size: 48px;
        letter-spacing: 2px;
        line-height: 58px;
    }
}

.logout {
    &__item {
        width: fit-content;
        height: fit-content;
        color: $white-color;
        cursor: pointer;
        padding: 10px;
        float: right;

        &:hover {
            color: $brand-color;
            .logout__icon {
                transform: translateX(5px);
            }
            .logout__underline {
                width: 100%;
            }
        }
    }
    &__text {
        font-family: $header-font;
        position: relative;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 18px;
        margin-right: 10px;
        transition: color 0.25s ease-in-out
    }
    &__icon {
        transition: all 0.25s ease-in-out;
        display: inline;
    }
    &__underline {
        margin-top: 1px;
        background-color: $brand-color;
        width: 0px;
        height: 2px;
        display: block;
        transition: width 0.25s ease-in-out;
    }
}

.view {
    color: $white-color;
    font-family: $header-font;
    font-size: 20px;	
    font-weight: 500;	
    letter-spacing: 2px;	
    line-height: 22px;
    
    &__options {
        color: $white-color;
        font-family: $header-font;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
        cursor: pointer;
        display: inline-block;
        margin-right: 50px;

        &:hover {
            color: $brand-color;
            .view__underline {
                width: 100%;
            }
        }
    }
    &_marked {
        color: $brand-color;
        .view__underline {
            width: 100%;
        }
    }
    &__underline {
        margin-top: 1px;
        background-color: $brand-color;
        width: 0px;
        height: 2px;
        display: block;
        transition: width 0.25s ease-in-out;
    }
}

/* CSS ID'S */
#impact-image {
    background-image: url("https://www.impact.dk/wp-content/uploads/2018/02/IMG_5600-1-1920x1080.jpg");
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    opacity: 1;
    filter: brightness(35%);
    /* Set up positioning */

    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#header-inline-text {
    color: $brand-color;
}

#black {
    color: black;
    border: 1px solid rgba(black,.25);
}

#white {
    color: white;
    border: 1px solid rgba(white,.25);

}

