@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

.pitch-detail {
    margin-top: 20px;
        &__title {
            color: #1A1A1A;
            font-family: $header-font;
            font-size: 26px;
            font-weight: 500;
            padding-top: 6px;
            letter-spacing: 2px;
            line-height: 38px;
            text-align: start;

            @include respond-to('desktop-no-hd') {
                font-size: 22px;
            }
        }
        &_prospect {
            background-color: $brand-color;
        }

        &__effort {
            color: #1A1A1A;
            font-family: $header-font;
            font-size: 16px;
            font-weight: 500;
            padding-top: 6px;
            letter-spacing: 1.2px;
            line-height: 38px;
            text-align: right;

            @include respond-to('desktop-no-hd') {
                font-size: 14px;
            }
        }

        &__metadata {
            opacity: 0.55;
            color: #1A1A1A;
            font-family: $text-font;
            font-size: 13px;
            text-transform: capitalize;
            margin-top: 5px;
            font-style: italic;
            line-height: 17px;

            @include respond-to('desktop-no-hd') {
                font-size: 11px;
            }

            &_author {
                font-weight: 600;
                text-transform: uppercase;
            }
        }

        &__description {
            color: #1A1A1A;
            font-family: $text-font;
            font-size: 16px;
            margin-top: 10px;
            padding-bottom: 10px;
            line-height: 24px;
            text-align: justify;
            
            @include respond-to('desktop-no-hd') {
                font-size: 12px;
            }
        }
}