@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

@keyframes bounceIn {
    0% {
        transform: translateY(100%)
    }
    80% {
        transform: translateY(10%)
    }
    90% {
        transform: translateY(3%)
    }
    100% {
        transform: translateY(0%)
    }
}

.pitch-list-container {

}

.pitch {
    background-color: $white-color;
    margin-bottom: 15px;
    padding: 30px;
    border-radius: 1px;
    height: 100%;
    box-shadow: 0 17px 23px 0 rgba(0,0,0,0.14);
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    cursor: pointer;
    animation: 0.5s ease-out 0s 1 bounceIn;


    &_prospect {
        background-color: $brand-color;
    }

    &__approval__button {
        margin-top: 10px;
        width: 100%;
        cursor: pointer;
        text-align: center;
        font-family: $header-font;
        font-size: 14px;	
        font-weight: 400;		
        line-height: 22px;
        text-decoration-line: underline;
        transition: all 0.1s ease-in-out;

        &:hover {
            font-weight: 600;
        }
    }

    &__metadata {
        opacity: 0.55;
        color: #1A1A1A;
        text-transform: capitalize;
        font-family: $text-font;
        margin-top: 5px;
        font-size: 11px;
        font-style: italic;
        line-height: 17px;

        &__author {
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    &__description {
        color: #1A1A1A;
        margin-top: 5px;
        font-family: $text-font;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
    }

    &__item {
        &__title {
            color: #1A1A1A;
            display: inline;
            font-family: $header-font;
            font-size: 16px;	
            font-weight: 500;	
        }

        &__effort {
            color: #1A1A1A;
            display: inline;
            font-family: $header-font;
            font-size: 13px;
            font-weight: 500;
            float: right;
        }

        &__social {
            margin-top: 12px;
                
            &__comment {
                display: inline;
            }
    
            &__likes {
                display: inline;
                float: right;
            }
        }

    }
}

#divide-line-pitch {
    height: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
	background-color: #606060;
}