@import '/Utilities/Variables.scss';
@import '/Utilities/Breakpoints.scss';

@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

.right-pane {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 300;
    height: 100%;
    width: 33%;
    max-width: 700px;
    background-color: #fff;
    box-shadow: -20px 0 40px 0 rgba(0,0,0,0.5);
    animation: 0.6s ease-out 0s 1 slideIn;

    &_slide-out {
        animation: 0.6s ease-out 0s 1 slideOut forwards;
    }
}

#exit-pane {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 25px;
    cursor: pointer;
    color: black;
    font-weight: 600;

    @include respond-to('desktop-no-hd') {
        font-size: 24px;
    }
}

