/* Breakpoints */

$breakpoints: (
    'phone': ( min-width: 300px ),
    'tablet': ( min-width: 600px ),
    'desktop-no-hd': ( max-width: 1440px ),
    'desktop-upper': ( min-width: 1800px ),
) !default;


@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
           @content; 
       } 
    }
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
            + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}
