/* Variables */
$brand-color: #fffd38;
$secondary-color: #303030;
$white-color: white;
$border-shadow: rgba(#303030, .5);
$header-font: 'Fira Sans Extra Condensed', sans-serif;
$text-font: "PT Serif", serif;