﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>@ViewData["Title"]</title>
	<base href="~/" />
	<script>
		window.graphql_endpoint = '@ViewData["GraphQL:Endpoint"]';
	</script>
</head>
<body style="margin: 0;">
	@RenderBody()

	<script src="~/dist/vendor.js" asp-append-version="true"></script>
	<script src="~/dist/main.js" asp-append-version="true"></script>
</body>
</html>
